<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENades - Ancient</title>

    <link rel="stylesheet" href="/templates/Ancient/ancient.css">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon2.ico">



</head>




<body>

    <header>

        <img id="enades_logo" draggable="false" src="/static/images/enades.svg" alt="Logo">


    </header>


    <nav>

        <div class="infoblock margin_for_back_button">

            <a id="back_button" href="/index.html">

                <img id="back_icon" draggable="false" src="/static/images/back_icon.png" alt="back_button">

            </a>

        </div>



        <div class="infoblock">

            <h1 class="subject">
                Ancient
            </h1>

            <p id="description">
                Ancient is not only the most played map in recent LANs, but also the most balanced maps in the current pool, featuring a classic "square" layout of Dust2
            </p>

        </div>



        <div class="infoblock">

            <h1 class="subject">
                Nades
            </h1>


            <div id="nades_list">

                <a class="nades selected" href="ancient.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/smoke_test.png" alt="smoke">

                    <span class="nade_name">
                        Smokes
                    </span>

                    <span id="smokes_sum" class="number_of_nades">
                        0
                    </span>

                </a>

                <a class="nades" href="molotovs.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/molotov_test.png" alt="molotov">

                    <span class="nade_name">
                        Molotovs
                    </span>

                    <span id="molotovs_sum" class="number_of_nades">
                        0
                    </span>

                </a>

                <a class="nades" href="flashes.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/flash_test.png" alt="flash">

                    <span class="nade_name">
                        Flashbangs
                    </span>

                    <span id="flash_sum" class="number_of_nades">
                        0
                    </span>

                </a>

                <a class="nades" href="HE.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/HE_test.png" alt="HE">

                    <span class="nade_name">
                        HE Grenade
                    </span>

                    <span id="HE_sum" class="number_of_nades">
                        0
                    </span>

                </a>

            </div>



        </div>



        <div class="infoblock">

            <h1 class="subject">
                Teams
            </h1>

            <div id="team_list">

                <a id="any_button" class="teams selected" href="ancient.html">

                    <img class="team_icons" draggable="false" src="/static/images/team_icons/Any_Icon2.png" alt="Any">

                    <span class="team_choice">
                        Any
                    </span>

                </a>



                <a id="t_button" class="teams" href="ancient.html?team=t">

                    <img class="team_icons" draggable="false" src="/static/images/team_icons/T_Icon2.png" alt="T">

                    <span class="team_choice">
                        T
                    </span>

                </a>


                <a id="ct_button" class="teams" href="ancient.html?team=ct">

                    <img class="team_icons" draggable="false" src="/static/images/team_icons/CT_Icon2.png" alt="CT">

                    <span class="team_choice">
                        CT  
                    </span>

                </a>

            </div>

        </div>




        <div class="infoblock">

            <h1 class="subject">
                Maps
            </h1>


            <div id="maps_list">

                <a class="maps selected" href="ancient.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Ancient_white.png" alt="Ancient">

                    <span class="map_name">
                        Ancient
                    </span>

                </a>


                <a class="maps" href="/templates/Mirage/mirage.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Mirage_white.png" alt="Mirage">

                    <span class="map_name">
                        Mirage
                    </span>

                </a>


                <a class="maps" href="/templates/Dust2/dust2.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Dust2_white.png" alt="Dust 2">

                    <span class="map_name">
                        Dust 2
                    </span>

                </a>                



                <a class="maps" href="/templates/Nuke/nuke.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Nuke_white.png" alt="Nuke">

                    <span class="map_name">
                        Nuke
                    </span>

                </a>


                <a class="maps" href="/templates/Inferno/inferno.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Inferno_white.png" alt="Inferno">

                    <span class="map_name">
                        Inferno
                    </span>

                </a>


                <a class="maps" href="/templates/Anubis/anubis.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Anubis_white.png" alt="Anubis">

                    <span class="map_name">
                        Anubis
                    </span>

                </a>   


                <a class="maps" href="/templates/Train/train.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Train_white.png" alt="Train">

                    <span class="map_name">
                        Train
                    </span>

                </a>


                <a class="maps" href="/templates/Overpass/overpass.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Overpass_white.png" alt="Overpass">

                    <span class="map_name">
                        Overpass
                    </span>

                </a>


                <a class="maps" href="/templates/Vertigo/vertigo.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Vertigo_white.png" alt="Vertigo">

                    <span class="map_name">
                        Vertigo
                    </span>

                </a>   



            </div>



        </div>



    </nav>


    <main>

        <!-- Team icons -->
        <img id="small_T_icon" src="/static/images/team_icons/T_Icon2.png" alt="small_T_icon">

        <img id="small_CT_icon" src="/static/images/team_icons/CT_Icon2.png" alt="small_CT_icon">


        <!-- Site icons -->

        <img id="A_icon" src="/static/images/bomb_site_icons/A_site.png" alt="A_icon">

        <img id="B_icon" src="/static/images/bomb_site_icons/B_site.png" alt="B_icon">



        <!-- Terrorist smokes -->




        <!-- Long smoke T -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_smoke" id="t_smoke_1" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="smoke_1">

        </button>


        <!-- Long smoke T Positions -->
        <button style="left: 67.9%; top: 77%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_1_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>









        



        <!-- Short smoke T -->
        <button style="left: 62.85%; top: 40%;" class="terrorist_smoke" id="t_smoke_2" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_2">

        </button>


        <!-- Short smoke T Positions -->

        <button style="left: 67.9%; top: 77%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_2_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_2">

        </button>
















        <!-- Catwalk smoke T -->
        <button style="left: 55.5%; top: 63%;" class="terrorist_smoke" id="t_smoke_3" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_3">

        </button>


        <!-- Catwalk smoke T Positions -->

        <button style="left: 54%; top: 87.5%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_3_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_3">

        </button>









        <!-- Donut smoke T -->
        <button style="left: 44.8%; top: 41%;" class="terrorist_smoke" id="t_smoke_4" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_4">

        </button>


        <!-- Donut smoke T Positions -->

        <button style="left: 40%; top: 64%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_4_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_4">

        </button>










        <!-- CT smoke T -->
        <button style="left: 47%; top: 29%;" class="terrorist_smoke" id="t_smoke_5" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_5">

        </button>


        <!-- CT smoke T Positions -->

        <button style="left: 40%; top: 64%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_5_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_5">

        </button>









        <!-- Red smoke T -->
        <button style="left: 52.26%; top: 43.7%;" class="terrorist_smoke" id="t_smoke_6" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_5">

        </button>


        <!-- Red smoke T Position1 -->

        <button style="left: 51.8%; top: 93%; height: 2vh;" class="terrorist_position position_buttons" id="t_smoke_6_pos_1" type="button">

            <img  style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_5">

        </button>



        <!-- Red smoke T Position2 -->

        <button style="left: 52.5%; top: 91.5%; height: 2vh;" class="terrorist_position position_buttons" id="t_smoke_6_pos_2" type="button">

            <img  style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_5">

        </button>



        <!-- Red smoke T Position3 -->

        <button style="left: 53.18%; top: 93%; height: 2vh;" class="terrorist_position position_buttons" id="t_smoke_6_pos_3" type="button">

            <img  style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_5">

        </button>





        <!-- Red smoke T Position4 -->

        <button style="left: 53.85%; top: 91.5%; height: 2vh;" class="terrorist_position position_buttons" id="t_smoke_6_pos_4" type="button">

            <img  style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_5">

        </button>



        <!-- Red smoke T Position5 -->

        <button style="left: 54.58%; top: 93%; height: 2vh;" class="terrorist_position position_buttons" id="t_smoke_6_pos_5" type="button">

            <img  style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_5">

        </button>






        <!-- Temple smoke T -->
        <button style="left: 43%; top: 27.8%;" class="terrorist_smoke" id="t_smoke_7" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_7">

        </button>


        <!-- Temple smoke T Positions -->

        <button style="left: 40%; top: 64%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_7_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_7">

        </button>









        <!-- Mid donut smoke T -->
        <button style="left: 48%; top: 51.8%;" class="terrorist_smoke" id="t_smoke_8" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_8">

        </button>


        <!-- Mid donut smoke T Positions -->

        <button style="left: 55%; top: 86%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_8_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_8">

        </button>















        <!-- Cave smoke T -->
        <button style="left: 62.2%; top: 45.5%;" class="terrorist_smoke" id="t_smoke_9" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_9">

        </button>


        <!-- Cave T Positions -->

        <button style="left: 67.9%; top: 77%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_9_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_9">

        </button>









        <!-- Lamp smoke T -->
        <button style="left: 58.6%; top: 62%;" class="terrorist_smoke" id="t_smoke_10" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_10">

        </button>


        <!-- Lamp T Positions -->

        <button style="left: 51%; top: 90.5%; height: 2.5vh;" class="terrorist_position position_buttons" id="t_smoke_10_pos_1" type="button">

            <img class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_10">

        </button>



















































        <!-- Counter Terrorist smokes -->



        <!-- Doors smoke CT -->
        <button style="left: 66.4%; top: 66%;" class="counter_terrorist_smoke" id="ct_smoke_1" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="ct_smoke_1">

        </button>




        <!-- Doors CT Positions 6 -->

        <button style="left: 55.2%; top: 17%; height: 2.5vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_1_pos_6" type="button">

            <img style="height: 2.5vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>


        <!-- Doors CT Positions 1 -->

        <button style="left: 52.3%; top: 20%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_1_pos_1" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>


        <!-- Doors CT Positions 2 -->

        <button style="left: 53.2%; top: 18.8%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_1_pos_2" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>



        <!-- Doors CT Positions 3 -->

        <button style="left: 54.2%; top: 18.8%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_1_pos_3" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>



        <!-- Doors CT Positions 4 -->

        <button style="left: 55.2%; top: 18.8%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_1_pos_4" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>





        <!-- Doors CT Positions 5 -->

        <button style="left: 56.1%; top: 20%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_1_pos_5" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>









        <!-- Ramp smoke CT -->
        <button style="left: 67.8%; top: 55%;" class="counter_terrorist_smoke" id="ct_smoke_2" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="ct_smoke_2">

        </button>



        <!-- Ramp CT Positions 1 -->

        <button style="left: 56.2%; top: 17.8%; height: 2.5vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_2_pos_1" type="button">

            <img style="height: 2.5vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_2">

        </button>









        <!-- Lower mid / ankle smoke CT -->
        <button style="left: 48.7%; top: 62.5%;" class="counter_terrorist_smoke" id="ct_smoke_3" type="button" onclick=clicked(this.id)>

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="ct_smoke_3">

        </button>




        <!-- Lower mid / ankle CT Positions 1 -->

        <button style="left: 52.3%; top: 20%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_3_pos_1" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>


        <!-- Lower mid / ankle CT Positions 2 -->

        <button style="left: 53.2%; top: 18.8%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_3_pos_2" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>



        <!-- Lower mid / ankle CT Positions 3 -->

        <button style="left: 54.2%; top: 18.8%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_3_pos_3" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>



        <!-- Lower mid / ankle CT Positions 4 -->

        <button style="left: 55.2%; top: 18.8%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_3_pos_4" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>




        <!-- Lower mid / ankle CT Positions 5 -->

        <button style="left: 56.1%; top: 20%; height: 2vh;" class="counter_terrorist_position position_buttons" id="ct_smoke_3_pos_5" type="button">

            <img style="height: 2vh;" class="position_icon" src="/static/images/small_nade_icons/position button.png" alt="smoke_1">

        </button>




































        
        <!-- Terrorist molotovs -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_molotov gone" id="t_molotov_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="molotov_1">

        </button>


        <!-- Counter Terrorist Molotovs -->
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_molotov gone" id="ct_molotov_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="molotov_1">

        </button>




        <!-- Terrorist flashes -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_flash gone" id="t_flash_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="flash_1">

        </button>


        <!-- Counter Terrorist flashes -->
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_flash gone" id="ct_flash_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="flash_1">

        </button>




        <!-- Terrorist HE -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_he gone" id="t_he_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="he_1">

        </button>


        <!-- Counter Terrorist HE -->
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_he gone" id="ct_he_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="he_1">

        </button>




        <img id="layout" draggable="false" src="/static/images/map_layouts/Ancient_layout.png" alt="Ancient_layout">


    </main>



    <script src="/scripts/script.js"></script>
    
    <script src="/scripts/Ancient.js"></script>

</body>


</html>