<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENades - Ancient</title>

    <link rel="stylesheet" href="/templates/Ancient/ancient.css">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon2.ico">



</head>




<body>

    <header>

        <img id="enades_logo" draggable="false" src="/static/images/enades.svg" alt="Logo">


    </header>


    <nav>

        <div class="infoblock margin_for_back_button">

            <a id="back_button" href="/index.html">

                <img id="back_icon" draggable="false" src="/static/images/back_icon.png" alt="back_button">

            </a>

        </div>



        <div class="infoblock">

            <h1 class="subject">
                Ancient
            </h1>

            <p id="description">
                I am in the verge of killing myself because of the new CS2 trade-up update.
            </p>

        </div>



        <div class="infoblock">

            <h1 class="subject">
                Nades
            </h1>


            <div id="nades_list">

                <a class="nades" href="ancient.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/smoke_test.png" alt="smoke">

                    <span class="nade_name">
                        Smokes
                    </span>

                    <span id="smokes_sum" class="number_of_nades">
                        0
                    </span>

                </a>

                <a class="nades" href="molotovs.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/molotov_test.png" alt="molotov">

                    <span class="nade_name">
                        Molotovs
                    </span>

                    <span id="molotovs_sum" class="number_of_nades">
                        0
                    </span>

                </a>

                <a class="nades selected" href="flashes.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/flash_test.png" alt="flash">

                    <span class="nade_name">
                        Flashbangs
                    </span>

                    <span id="flash_sum" class="number_of_nades">
                        0
                    </span>

                </a>

                <a class="nades" href="HE.html">

                    <img class="nade_icons" draggable="false" src="/static/images/grenade_icons/HE_test.png" alt="HE">

                    <span class="nade_name">
                        HE Grenade
                    </span>

                    <span id="HE_sum" class="number_of_nades">
                        0
                    </span>

                </a>

            </div>



        </div>



        <div class="infoblock">

            <h1 class="subject">
                Teams
            </h1>

            <div id="team_list">

                <a id="any_button" class="teams selected" href="flashes.html">

                    <img class="team_icons" draggable="false" src="/static/images/team_icons/Any_Icon2.png" alt="Any">

                    <span class="team_choice">
                        Any
                    </span>

                </a>



                <a id="t_button" class="teams" href="flashes.html?team=t">

                    <img class="team_icons" draggable="false" src="/static/images/team_icons/T_Icon2.png" alt="T">

                    <span class="team_choice">
                        T
                    </span>

                </a>


                <a id="ct_button" class="teams" href="flashes.html?team=ct">

                    <img class="team_icons" draggable="false" src="/static/images/team_icons/CT_Icon2.png" alt="CT">

                    <span class="team_choice">
                        CT  
                    </span>

                </a>

            </div>

        </div>




        <div class="infoblock">

            <h1 class="subject">
                Maps
            </h1>


            <div id="maps_list">

                <a class="maps selected" href="ancient.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Ancient_white.png" alt="Ancient">

                    <span class="map_name">
                        Ancient
                    </span>

                </a>


                <a class="maps" href="/templates/Mirage/mirage.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Mirage_white.png" alt="Mirage">

                    <span class="map_name">
                        Mirage
                    </span>

                </a>


                <a class="maps" href="/templates/Dust2/dust2.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Dust2_white.png" alt="Dust 2">

                    <span class="map_name">
                        Dust 2
                    </span>

                </a>                



                <a class="maps" href="/templates/Nuke/nuke.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Nuke_white.png" alt="Nuke">

                    <span class="map_name">
                        Nuke
                    </span>

                </a>


                <a class="maps" href="/templates/Inferno/inferno.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Inferno_white.png" alt="Inferno">

                    <span class="map_name">
                        Inferno
                    </span>

                </a>


                <a class="maps" href="/templates/Anubis/anubis.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Anubis_white.png" alt="Anubis">

                    <span class="map_name">
                        Anubis
                    </span>

                </a>   


                <a class="maps" href="/templates/Train/train.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Train_white.png" alt="Train">

                    <span class="map_name">
                        Train
                    </span>

                </a>


                <a class="maps" href="/templates/Overpass/overpass.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Overpass_white.png" alt="Overpass">

                    <span class="map_name">
                        Overpass
                    </span>

                </a>


                <a class="maps" href="/templates/Vertigo/vertigo.html">

                    <img class="map_icons" draggable="false" src="/static/images/map_icons/Vertigo_white.png" alt="Vertigo">

                    <span class="map_name">
                        Vertigo
                    </span>

                </a>   



            </div>



        </div>



    </nav>


    <main>


        <img id="small_T_icon" src="/static/images/team_icons/T_Icon2.png" alt="small_T_icon">

        <img id="small_CT_icon" src="/static/images/team_icons/CT_Icon2.png" alt="small_CT_icon">




        <!-- Terrorist smokes -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_smoke gone" id="t_smoke_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="smoke_1">

        </button>


        <button style="left: 62.85%; top: 40%;" class="terrorist_smoke gone" id="t_smoke_2" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="t_smoke_1">

        </button>



        <!-- Counter Terrorist smokes -->
        <button style="left: 66.4%; top: 66%;" class="counter_terrorist_smoke gone" id="ct_smoke_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="ct_smoke_1">

        </button>

        
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_smoke gone" id="ct_smoke_2" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="ct_smoke_1">

        </button>



        
        <!-- Terrorist molotovs -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_molotov gone" id="t_molotov_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="molotov_1">

        </button>


        <!-- Counter Terrorist Molotovs -->
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_molotov gone" id="ct_molotov_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="molotov_1">

        </button>




        <!-- Terrorist flashes -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_flash" id="t_flash_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="flash_1">

        </button>


        <!-- Counter Terrorist flashes -->
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_flash" id="ct_flash_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="flash_1">

        </button>




        <!-- Terrorist HE -->
        <button style="left: 67.3%; top: 43%;" class="terrorist_he gone" id="t_he_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_smoke.svg" alt="he_1">

        </button>


        <!-- Counter Terrorist HE -->
        <button style="left: 48.5%; top: 62.5%;" class="counter_terrorist_he gone" id="ct_he_1" type="button" onclick="alert('Hello World!')">

            <img class="small_nade_icon" src="/static/images/small_nade_icons/small_ct_smoke.svg" alt="he_1">

        </button>




        <img id="layout" draggable="false" src="/static/images/map_layouts/Ancient_layout.png" alt="Ancient_layout">



    </main>



    <script src="/scripts/script.js"></script>
</body>


</html>