<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENades - Nuke</title>

    <link rel="stylesheet" href="../static/css/nuke.css">

    <link rel="icon" type="image/x-icon" href="../static/images/favicon2.ico">



</head>




<body>

    <header>

        <img id="enades_logo" draggable="false" src="../static/images/enades.svg" alt="Logo">


    </header>


    <nav>

        <div class="infoblock margin_for_back_button">

            <a id="back_button" href="../index.html">

                <img id="back_icon" draggable="false" src="../static/images/back_icon.png" alt="back_button">

            </a>

        </div>



        <div class="infoblock">

            <h1 class="subject">
                Nuke
            </h1>

            <p id="description">
                I am in the verge of killing myself because of the new CS2 trade-up update.
            </p>

        </div>


        <div class="infoblock">

            <h1 class="subject">
                Map layout
            </h1>

            <div id="layout_list">

                <a id="first_layout" class="layouts selected" href="nuke.html">

                    <span class="layout_choice">
                        1
                    </span>

                </a>

                <a id="first_layout" class="layouts" href="nuke2.html">

                    <span class="layout_choice">
                        2
                    </span>

                </a>


            </div>

        </div>


        <div class="infoblock">

            <h1 class="subject">
                Nades
            </h1>


            <div id="nades_list">

                <a class="nades selected" href="nuke.html">

                    <img class="nade_icons" draggable="false" src="../static/images/grenade_icons/smoke_test.png" alt="smoke">

                    <span class="nade_name">
                        Smokes
                    </span>

                    <span class="number_of_nades">
                        1337
                    </span>

                </a>

                <a class="nades" href="molotovs.html">

                    <img class="nade_icons" draggable="false" src="../static/images/grenade_icons/molotov_test.png" alt="molotov">

                    <span class="nade_name">
                        Molotovs
                    </span>

                    <span class="number_of_nades">
                        1337
                    </span>

                </a>

                <a class="nades" href="flashes.html">

                    <img class="nade_icons" draggable="false" src="../static/images/grenade_icons/flash_test.png" alt="flash">

                    <span class="nade_name">
                        Flashbangs
                    </span>

                    <span class="number_of_nades">
                        1337
                    </span>

                </a>

                <a class="nades" href="HE.html">

                    <img class="nade_icons" draggable="false" src="../static/images/grenade_icons/HE_test.png" alt="HE">

                    <span class="nade_name">
                        HE Grenade
                    </span>

                    <span class="number_of_nades">
                        1337
                    </span>

                </a>

            </div>



        </div>



        <div class="infoblock">

            <h1 class="subject">
                Teams
            </h1>

            <div id="team_list">

                <a id="any_button" class="teams selected" href="nuke.html">

                    <img class="team_icons" draggable="false" src="../static/images/team_icons/Any_Icon2.png" alt="Any">

                    <span class="team_choice">
                        Any
                    </span>

                </a>



                <a id="t_button" class="teams" href="nuke.html?team=t">

                    <img class="team_icons" draggable="false" src="../static/images/team_icons/T_Icon2.png" alt="T">

                    <span class="team_choice">
                        T
                    </span>

                </a>


                <a id="ct_button" class="teams" href="nuke.html?team=ct">

                    <img class="team_icons" draggable="false" src="../static/images/team_icons/CT_Icon2.png" alt="CT">

                    <span class="team_choice">
                        CT  
                    </span>

                </a>

            </div>

        </div>




        <div class="infoblock">

            <h1 class="subject">
                Maps
            </h1>


            <div id="maps_list">

                <a class="maps" href="ancient.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Ancient_white.png" alt="Ancient">

                    <span class="map_name">
                        Ancient
                    </span>

                </a>


                <a class="maps" href="mirage.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Mirage_white.png" alt="Mirage">

                    <span class="map_name">
                        Mirage
                    </span>

                </a>


                <a class="maps" href="dust2.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Dust2_white.png" alt="Dust 2">

                    <span class="map_name">
                        Dust 2
                    </span>

                </a>                



                <a class="maps selected" href="nuke.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Nuke_white.png" alt="Nuke">

                    <span class="map_name">
                        Nuke
                    </span>

                </a>


                <a class="maps" href="inferno.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Inferno_white.png" alt="Inferno">

                    <span class="map_name">
                        Inferno
                    </span>

                </a>


                <a class="maps" href="anubis.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Anubis_white.png" alt="Anubis">

                    <span class="map_name">
                        Anubis
                    </span>

                </a>   


                <a class="maps" href="train.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Train_white.png" alt="Train">

                    <span class="map_name">
                        Train
                    </span>

                </a>


                <a class="maps" href="overpass.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Overpass_white.png" alt="Overpass">

                    <span class="map_name">
                        Overpass
                    </span>

                </a>


                <a class="maps" href=vertigo.html">

                    <img class="map_icons" draggable="false" src="../static/images/map_icons/Vertigo_white.png" alt="Vertigo">

                    <span class="map_name">
                        Vertigo
                    </span>

                </a>   



            </div>



        </div>



    </nav>


    <main>
        <img id="layout" draggable="false" src="../static/images/map_layouts/Nuke_layout.png" alt="Ancient_layout">
    </main>



    <script src="../scripts/script.js"></script>
</body>


</html>